<!-- NAVBAR -->

<body>


  <!-- HERO SECTION -->
  <div class="hero">
    <div class="hero-content">
      <h1>WELCOME TO BOOK REVIVE</h1>
      <p>Buy, Sell and Donate second-hand books easily</p>
      <button routerLink="/view-books">Explore Books</button>
    </div>
  </div>

  <!-- MAIN FEATURES -->
  <div class="features">

    <div class="feature-card">
      <h3>Buy Books</h3>
      <p>Find affordable second-hand books.</p>
      <button routerLink="/view-books">Browse</button>
    </div>

    <div class="feature-card">
      <h3>Sell/Donate Books</h3>
      <p>Sell your old books easily.</p>
      <button routerLink="/add-book">Sell Now</button>
    </div>

    <div class="feature-card">
      <h3>Community Reviews</h3>
      <p>Read and share book reviews</p>
      <button routerLink="/book-reviews">Read</button>
    </div>

    <div class="feature-card">
      <h3>My Profile</h3>
      <p>View your personal details & activity.</p>
      <button routerLink="/profile">View Profile</button>
    </div>

  </div>
</body>